body {
  background-color: #F1C40F;
  text-align: center;
  font-family: "Courier New"
}

p {
  /*width: 150%;*/
  border: 20px solid white;
  margin: 30px;
  padding: 30px;
  color: white;
  font-size: 2rem;
  outline: none;
  cursor: pointer;
  background-color: #2274A5;
}
